html,
body {
	height: 100%;
}

body {
	box-sizing: border-box;
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main.main {
	flex: 1 1 auto;
}

a {
	margin-right: 5px;
	text-decoration: none;
	color: var(--bs-purple);
	transition: all 0.3s;
}

a:hover {
	color: var(--bs-blue);
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.btn {
	transition: all 0.3s;
	color: var(--bs-purple);
}

.btn:hover {
	color: var(--bs-blue);
}

main.main {
	flex: 1 1 auto;
	background-color: aliceblue;
}

.header_logo {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.header_logo_text {
	font-family: 'Poiret One', sans-serif;
	font-weight: 900;
	font-size: 32px;
	min-width: 270px;
	margin: 0;
}

.header-contact {
	display: flex;
	flex-direction: row;
}

li {
	height: auto;
}

ul.contact_icons {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	height: 28px;
}

.group {
	display: flex;
	justify-content: end;
}

.input-search {
	background-color: var(--bs-gray-400);
	transition: all 0.3s;
	border: none;
}

.input-search:focus {
	box-shadow: none;
	background-color: var(--bs-gray-400);
}

.badge {
	font-size: 0.4rem;
}
